body {
  background: #eee;
  text-align: center;
  padding: 0 25px;
  font-family: arial, sans-serif;
}

#main {
  width: 600px;
  margin: auto;
  text-align: left;
  background: #f9f9f9;
  padding: 50px 60px;
  border: solid #eee;
  border-width: 0 1px 1px 1px;
}

#main h1 {
  margin-top: 0;
  font-size: 35px;
  margin-bottom: 5px;
  padding: 5px;
}

#main h1 span {
  font-style:italic;
}

#main ul {
  padding-left: 20px;
}

#main .error {
  border: 1px solid red;
  background: #FDEFF0;
  padding: 20px;
}

#main .success {
  margin-top: 25px;
}

#main .success code {
  font-size: 12px;
  color: green;
  line-height: 13px;
}

form {
  padding: 20px;
  padding-left: 0;
  margin-bottom: 20px;
  clear:both;
}

form input[type=text] {
  margin-right: 10px;
  width: 70%;
  font-size: 12px;
  padding: 5px;
}

.chat {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #eee;
}

.chat .username {
  font-weight: 800;
}

.chat:hover {
  background-color: #ddd;
}

.spinner {
  float: right;
  height: 46px;
  margin-bottom: 5px;
}

.spinner img {
  padding: 10px;
}

.friend-text {
  font-weight: bold;
}

.label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.username {
  margin-top: -40px;
  margin-right: 0px;
  float: right;
  font-size: 100%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #33CCFF;
  width: 120px;
  height: 22px;
  padding-left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}


.line {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
  padding: 7px 0px 7px 0px;
  background-color: #fefefe;
  border-radius: 5px;
}

.line:nth-child(even) {
  background-color: #FFFFee;
}
.user {
  text-decoration: none;
  text-align: right;
  width: 100px;
  display: inline-block;
  margin-right: 15px;
  color: #0066ff;
}

.messages {
  margin-top: 35px;
}

.time {
  color: #999;
  float: right;
  font-size: 75%;
  padding-top: 3px;
  padding-right: 10px;
}

.room {
  text-decoration: none;
  color: #fff;
  float: left;
  display: block;
  margin: 0 3px 5px 3px;
  background-color: #33CCFF;
  border-radius: 3px;
  padding: 4px 5px 4px 5px;
}

.room-name {
  margin-top: 0;
  margin-left: 3px;
  text-align: center;
  height: 22px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid #33CCFF;
  font-size: 80%;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.message-text {
  margin-left: 5px;
  width: 475px;
  height: 26px;
  font-size: 14px;
  display: block;
  padding-left: 20px;
  padding-bottom: 2px;
  border-radius: 3px;
  border: 1px solid #ddd;
  float: left;
}

#submit {
  margin-top: -18px;
  margin-left: 10px;
  width: 80px;
  height: 24px;
  background-color: #0066FF;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding-top: 7px;
  float: left;
}

#submit:hover {
  background-color: #7766FF;
}

.current {
  background-color: #ff9900;
}